Get a list of all stations:

In [2]:
import json
import requests

url_stations = 'http://barcelonaapi.marcpous.com/bicing/stations.json'
res_stations = requests.get(url_stations)
stations = json.loads(res_stations.text)

Arrange the data to be in lists:

In [3]:
station_id = []
station_name = []
station_lat = []
station_lon = []

for idx,i in enumerate(stations['data']['bici']):
    station_id.append(int(stations['data']['bici'][idx]['id']))
    station_name.append(stations['data']['bici'][idx]['name'])
    station_lat.append(float(stations['data']['bici'][idx]['lat']))
    station_lon.append(float(stations['data']['bici'][idx]['lon']))

Find out how many bikes are available at each of the selected stations:

In [4]:
import datetime

bikes = []
slots = []
dates = []
bikes_ok = []
slots_ok = []

for i in station_id:
    url_availability = 'http://wservice.viabicing.cat/v2/stations/'+str(i)
    res_availability = requests.get(url_availability)
    json_availability = json.loads(res_availability.text)
    
    try:
        bikes_num = json_availability['stations'][0]['bikes']
        slots_num = json_availability['stations'][0]['slots']
        dates.append(datetime.datetime.fromtimestamp(json_availability['updateTime']).strftime('%Y-%m-%d %H:%M:%S'))
    except:
        bikes_num = 0
        slots_num = 0
        
        try: 
            dates.append(dates[len(dates)-1])
        except:
            dates.append(datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
            
    bikes.append(bikes_num)
    slots.append(slots_num)
    
    if int(bikes_num) >= 2:
        bikes_ok.append(True)
    else:
        bikes_ok.append(False)
        
    if int(slots_num) >= 2:
        slots_ok.append(True)
    else:
        slots_ok.append(False)

Create a dataframe so that we can easily filter out the non-available stations:

In [5]:
import pandas as pd
dataset = pd.DataFrame({'station_id':station_id,
                        'station_name':station_name,
                        'station_lat':station_lat,
                        'station_lon':station_lon,
                        'bikes':bikes,
                        'slots':slots,
                        'bikes_ok':bikes_ok,
                        'slots_ok':slots_ok,
                        'entry_date':dates
                       })
dataset.head(10)

,bikes,bikes_ok,entry_date,slots,slots_ok,station_id,station_lat,station_lon,station_name
0,25,True,2018-08-03 17:42:08,1,False,1,41.397952,2.180042,"Gran Via Corts Catalanes, 760"
1,0,False,2018-08-03 17:42:08,0,False,10,41.385531,2.183527,"Pl. Comercial, 11"
2,9,True,2018-08-03 17:42:08,9,True,100,41.379135,2.144090,"Tarragona, 159"
3,11,True,2018-08-03 17:42:08,15,True,101,41.392988,2.143562,"Av. Pau Casals, 1"
4,7,True,2018-08-03 17:42:08,17,True,102,41.393093,2.143365,"Av. Pau Casals, 3"
5,14,True,2018-08-03 17:42:08,7,True,103,41.409856,2.188217,"Aragó, 629"
6,26,True,2018-08-03 17:42:08,0,False,104,41.410821,2.187365,"C/València, 621"
7,11,True,2018-08-03 17:42:08,8,True,105,41.389069,2.173424,"PL. Urquinaona, 9"
8,1,False,2018-08-03 17:42:08,16,True,106,41.405587,2.162317,"Pl. Joanic, 59"
9,0,False,2018-08-03 17:42:08,21,True,107,41.398298,2.153128,"Travessera de Gracia, 92"
10,6,True,2018-08-03 17:42:08,12,True,108,41.402314,2.164961,"Indústria, 10"
11,3,True,2018-08-03 17:42:08,16,True,109,41.390981,2.147370,"C/ Londres, 53"
12,8,True,2018-08-03 17:42:08,11,True,11,41.381689,2.193914,"Trelawny, 2"
13,7,True,2018-08-03 17:42:08,12,True,110,41.385554,2.154813,"Avda. Roma, 117"
14,1,False,2018-08-03 17:42:08,18,True,111,41.381096,2.153087,"Calabria, 135"
15,16,True,2018-08-03 17:42:08,2,True,112,41.377644,2.157250,"Floridablanca, 49"
16,22,True,2018-08-03 17:42:08,4,True,113,41.378836,2.160801,"Comte Borrell, 60"
17,5,True,2018-08-03 17:42:08,12,True,114,41.376801,2.173039,"Pl. Jean Genet, 1"
18,0,False,2018-08-03 17:42:08,21,True,115,41.383275,2.183704,"Marquès d'Argentera, 1"
19,7,True,2018-08-03 17:42:08,19,True,116,41.383718,2.191414,"Salvat Papasseit, 72"
20,9,True,2018-08-03 17:42:08,10,True,117,41.390666,2.197024,"Rosa Sensat, 9"
21,27,True,2018-08-03 17:42:08,0,False,118,41.391884,2.187302,"Pujades, 1"
22,6,True,2018-08-03 17:42:08,14,True,119,41.396632,2.182802,"Ausiàs March, 122"
23,2,True,2018-08-03 17:42:08,26,True,12,41.384538,2.195679,"pg marítim barceloneta, 23"
24,8,True,2018-08-03 17:42:08,11,True,120,41.404666,2.176515,"Lepant, 278"
25,6,True,2018-08-03 17:42:08,13,True,121,41.406293,2.178689,"Castillejos, 258"
26,8,True,2018-08-03 17:42:08,11,True,122,41.405435,2.166240,"Nàpols, 344"
27,0,False,2018-08-03 17:42:08,18,True,123,41.397411,2.167798,"Girona, 126"
28,23,True,2018-08-03 17:42:08,0,False,124,41.377131,2.190857,"Atlantida, 82"
29,0,False,2018-08-03 17:42:08,18,True,125,41.384426,2.195595,"Passeig Maritim, 31"
...,...,...,...,...,...,...,...,...,...
389,4,True,2018-08-03 17:42:08,15,True,71,41.381931,2.162969,"Floridablanca , 145"
390,0,False,2018-08-03 17:42:08,25,True,72,41.393173,2.157081,"Rosselló, 217"
391,0,False,2018-08-03 17:42:08,19,True,73,41.392846,2.155788,"Enric Granados, 99"
392,1,False,2018-08-03 17:42:08,19,True,74,41.389391,2.143102,"Josep Tarradellas, 129"
393,1,False,2018-08-03 17:42:08,18,True,75,41.385081,2.142868,"Josep Tarradellas, 58"
394,13,True,2018-08-03 17:42:08,19,True,76,41.391751,2.153123,"CORSEGA, 216"
395,8,True,2018-08-03 17:42:08,15,True,78,41.385598,2.163380,Pl. Universitat
396,0,False,2018-08-03 17:42:08,22,True,79,41.385736,2.163577,Pl. Universitat
397,18,True,2018-08-03 17:42:08,5,True,8,41.389088,2.183568,"Passeig lluís companys, 2"
398,4,True,2018-08-03 17:42:08,12,True,80,41.389687,2.159999,"Enric Granados, 35"
399,15,True,2018-08-03 17:42:08,3,True,81,41.378915,2.149174,"Vilamarí davant, 61"
400,17,True,2018-08-03 17:42:08,14,True,82,41.379016,2.153799,"Rocafort, 72"
401,5,True,2018-08-03 17:42:08,19,True,83,41.384075,2.153654,"Compte Borrell, 177"
402,13,True,2018-08-03 17:42:08,7,True,84,41.383374,2.157577,"Diputació, 152"
403,21,True,2018-08-03 17:42:08,0,False,85,41.375076,2.159046,"Paral·lel, 146"
404,1,False,2018-08-03 17:42:08,25,True,86,41.375064,2.163640,"Paral·lel, 114"
405,3,True,2018-08-03 17:42:08,15,True,87,41.383156,2.148506,"Mallorca, 41"
406,0,False,2018-08-03 17:42:08,17,True,88,41.393547,2.150764,"Londres, 101"
407,1,False,2018-08-03 17:42:08,25,True,89,41.387953,2.150169,"Rosselló, 101"
408,10,True,2018-08-03 17:42:08,16,True,9,41.385031,2.185249,"Marquès de l'Argentera, 17"
409,0,False,2018-08-03 17:42:08,18,True,90,41.388340,2.150825,"Rosselló, 108"
410,6,True,2018-08-03 17:42:08,24,True,91,41.380452,2.158403,"Comte Borrell, 119"
411,1,False,2018-08-03 17:42:08,13,True,92,41.393860,2.160237,"Provença, 241"
412,11,True,2018-08-03 17:42:08,8,True,93,41.375454,2.149786,"Gran Via, 375"
413,8,True,2018-08-03 17:42:08,13,True,94,41.375619,2.149889,"Gran Via, 375"
414,17,True,2018-08-03 17:42:08,13,True,95,41.376428,2.147734,"Tarragona, 103"
415,3,True,2018-08-03 17:42:08,16,True,96,41.374152,2.148154,"Gran Via, 361"
416,13,True,2018-08-03 17:42:08,6,True,97,41.378124,2.145389,"Tarragona, 141"
417,18,True,2018-08-03 17:42:08,3,True,98,41.380658,2.141697,"Viriat, 45"
418,19,True,2018-08-03 17:42:08,0,False,99,41.380632,2.141548,"Viriat, 53"

Import the *new* dataset into a SQL table:

In [2]:
import sqlite3
conn = sqlite3.connect("bicidb.db")
cursos = conn.cursor()

In [7]:
dataset.to_sql('historical_availability', con=conn, if_exists='append')

Load back the *full* dataset into a data frame:

In [3]:
import pandas as pd
pd.read_sql("SELECT DISTINCT(entry_date) FROM historical_availability;", con=conn)

              entry_date
0    2018-07-04 12:50:07
1    2018-07-11 22:17:07
2    2018-07-11 22:18:08
3    2018-07-11 22:19:08
4    2018-07-29 12:52:08
5    2018-07-29 15:14:08
6    2018-07-29 15:15:08
7    2018-07-29 15:19:08
8    2018-07-29 15:20:08
9    2018-07-29 15:29:07
10   2018-07-29 15:30:08
11   2018-07-29 15:39:08
12   2018-07-29 15:40:08
13   2018-07-29 15:49:08
14   2018-07-29 15:50:08
15   2018-07-29 15:59:08
16   2018-07-29 16:00:04
17   2018-07-29 16:00:15
18   2018-07-29 16:09:08
19   2018-07-29 16:10:08
20   2018-07-29 16:19:08
21   2018-07-29 16:20:08
22   2018-07-29 16:29:08
23   2018-07-29 16:30:08
24   2018-07-30 15:29:07
25   2018-07-30 15:30:09
26   2018-07-30 15:39:08
27   2018-07-30 15:40:08
28   2018-07-30 15:49:07
29   2018-07-30 15:50:08
..                   ...
346  2018-09-03 15:49:08
347  2018-09-03 15:50:08
348  2018-09-03 16:00:04
349  2018-09-04 13:59:07
350  2018-09-04 14:00:04
351  2018-09-04 14:09:08
352  2018-09-04 14:10:08
353  2018-09-04 14:19:08
354  2018-09-04 14:20:08
355  2018-09-04 14:29:08
356  2018-09-04 14:30:08
357  2018-09-04 14:39:07
358  2018-09-04 14:40:09
359  2018-09-04 14:49:08
360  2018-09-04 14:50:08
361  2018-09-04 14:59:08
362  2018-09-04 15:00:04
363  2018-09-04 15:00:15
364  2018-09-04 15:09:08
365  2018-09-04 15:10:08
366  2018-09-04 15:19:08
367  2018-09-04 15:20:08
368  2018-09-04 15:29:08
369  2018-09-04 15:30:08
370  2018-09-04 15:39:08
371  2018-09-04 15:40:08
372  2018-09-04 15:49:07
373  2018-09-04 15:50:08
374  2018-09-04 15:59:08
375  2018-09-04 16:00:04

[376 rows x 1 columns]

Take the average availability of each station during morning hours and visualize it

Filter out stations that are not available:

In [ ]:
dataset_clean_bikes = dataset[dataset.bikes_ok == True].reset_index(drop=True)
dataset_clean_bikes